@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    background: #026b83;
    font-size:16px;
}/*
header{
    background:#1c394f;#1c394f y  #026b83
    position:relative;
}
div{
    width:40%;
    height:45%;
    text-align:center;
    display:inline-block;
    margin-top:11.5%;
    margin-left:10%;
    background:white;
}
.h1{
    width:100%;
    display:inline-block;
}
.es img{
    width:70px;
    height:70px;
    margin-top:5%;
}
h1{
    font-weight:59;
    font-size:70px;
    
}
nav{
    position: absolute;
    top:0px;
    background:white;
    width:100%;
}
.des{
    width:50%;
    height:84%;
    display:inline-block;
    position:absolute;
    top:16%;
}
.descu{
    font-size:24px;
    font-weight:900;
    letter-spacing:3px;
}
.logo{
    display:inline-block;
    width:10%;
    height:10%;
    margin-right:;
}
.barras{
    width:10%;
    height:10%;
    display:inline-block;
    margin-left:70%;
}

.oculto{
    display:none;
}

.bot-header{
    width:30%;
    height:8%;
    display:inline-block;
    margin-top:100px;
    font-weight:600;
    font-size:24px;
}
.link{
    font-variant:small-caps;
    display:inline-block;
    width:100%;
    margin-top:50px;
    font-size:20px;
}
        
.prim-article{
    border: solid ;
    width:100%;
    height:45%;
    background:white;
    text-align:center;
}
.prim-article section{
    display:inline-block;
    width:40%;
    height:40%;
    border:solid;
    
}
prim-article, section{
    display:grid;
    place-items:center ;
}
prim-article,div{
    display:inline-block;
}*/
header{
    background:#1c394f;/*#1c394f y  #026b83*/
    position:relative;
}
.es{
    width:250px;
    height:70%;
    text-align:center;
    display:inline-block;
    margin-top:24px;
    margin-left:30px;
    background:white;
    border: ;
}

h1{
    font-weight:100;
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
}
.h1{
    display:inline-block;
    width:100%;
}

.descu{
    margin-top:5px;
    margin-bottom:15px;
    font-size:;
    font-weight:900;
    letter-spacing:3px;
}

.bot-header{
    width:30%;
    height:8%;
    display:inline-block;
    margin-bottom:15px;
    font-weight:;
    font-size:;
}

.des{
    width:50px;
    display:inline-block;
    width:250px;
    margin-left:30px;
}
nav{
    position: absolute;
    top:0px;
    background:white;
    width:100%;
}

nav img{
    width:20px;
    
}
.es img{
    width:100px;
    
}

.oculto{
    display:none;
}

.prim-article{
    width:100%;
    background:white;
    height:700px;
}
.prim-article section{
    display:inline-block;
    width:250px;
}

.prim-article, article{
    display:grid;
    place-items:center ;
}

.prim-article h2{
    margin-bottom:10px;
}
.prim-article div{
    display: inline-block;
    width:75%;
}

.prim-article img{
    
    position:relative;
    bottom:50px;
    width:20%;
}

