@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    background:;
    font-size:16px;
}

header{
    background:#1c394f;/*#1c394f y  #026b83*/
    position:relative;
}
.es{
    width:80%;
    height:;
    text-align:center;
    display:inline-block;
    margin-top:24px;
    margin-left:10%;
    background:white;
}

h1{
    font-weight:100;
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
}
.h1{
    display:inline-block;
    width:100%;
}

.descu{
    margin-top:5%;
    margin-bottom:10%;
    font-weight:900;
    letter-spacing:3px;
}

.bot-header{
    width:30%;
    height:8%;
    font-size:50%;
    display:inline-block;
    margin-bottom:10%;
}

.des{
    display:inline-block;
    width:80%;
    margin-left:10%;
    border: ;
}
nav{
    position: absolute;
    top:0px;
    background:white;
    width:100%;
}

nav img{
    width:6%;
}
.es img{
    width:20%;
}

.oculto{
    display:none;
}

.prim-article{
    width:100%;
    background:white;
    height:700px;
}
.prim-article section{
    display:inline-block;
    width:250px;
}

.prim-article{
    display:grid;
    place-items:center ;
}

.prim-article h2{
    margin-bottom:10px;
}
.prim-article div{
    display: inline-block;
    width:75%;
}

.prim-article img{
    position:relative;
    bottom:50px;
    width:20%;
}

.seg-article{
    width:100%;
    height: 1000px;
    background:#026b83;
}

.seg-article section{
    width:250px;
    height:800px;
    color:white;
    display:grid;
    place-items:center ;
    margin-left:30px;
}

.seg-article img{
    width:250px;
    height:400px;
}

.seg-article button{
    width:150px;
    height:40px;
    background:#026b83;
    border:solid white;
    color:white;
}

.seccion{
    margin:0px 10%;
    width:80%;
}

.ter-article{
    background:#ecf2f3;
    display: inline-block;
    height:320px;
    width:100%;
}

.ter-article p{
    display: inline-block;
    width:200px;
    margin:20px 0px 0px 45px;
}

.for-article{
    background:#026b83;
    height:800px;
    padding-top:10px;
}

.num{
    width:230px;
    height:180px;
    background:white;
    margin-left:30px;
    margin-bottom:10px;
    display:grid;
    place-items:center;
}

.num p{
    margin:10px;
}

.num a{
    border-bottom:solid;
}

.num h3{
    font-size:30px;
}

.fondo{
    height:320px;
    background:#ecf2f3;
}

.fondo img{
    width:80%;
    margin:2% 10%;
}


.fndA{
    width:100%;
    height:80%;
    background:;
}
.fndA section{
    margin-top: 50%;
    display:inline-block;
    margin-left:10%;
    width:80%;
}

.fndA h2{
    margin-bottom: 20px;
}

.fndA p{
    margin-bottom: 20px;
}

.ppdf{
    background:#ecf2f3;
    padding:20px 5px;
}
.ppdf p{
    margin:10px 0px
}

.ppdf h2{

}

.fot{
    background:#026b83;
    height:320px;
    
}

.fot1{
    width:80%;
    height:50px;
    display: inline-block;
    margin: 15px 30px;
    background: #026b83;
    border-style:none none solid none;
    border-color:white;
    text-align: left;
}

.bot-fot{
    width: 100px;
    height: 50px;
    margin: 15px 30px;
    display:inline-block;
    color:#026b83;
}

.fott{
    background: black;
    font-size:12px;
    color: white;
    height: 40px;
    display: grid;
    place-items:center;

}


@media screen and (min-width:768px) {
    body{
        font-size:24px;
    }
    
    h1{
        font-size:100px;
    }
    header{
        font-size:30px;
    }
    
    .prim-article{
        display:inline-block;
        height:1000px;
    /*    align-items: center ;
        justify-content:center ;*/
    }
    
    .prim-article section{
        display: inline-block;
        width:37%;
        height:310px;
        margin:5%;
    }
    .seg-article{
        height:1300px;
    }
    .seg-article section{
        width:80%;
        margin-left:10%;
    }
    .seg-article img{
        width:100%;
        height:800px;
    }
    .seg-article h2, p, button{
        margin-top:5%;
    }
    .ter-article section{
        width:80%;
        margin-left:10%;
    }
    .ter-article p{
        width:100%;
        margin:3% 0px;
    }
    .for-article{
        height:1400px;
    }
    .for-article section{
        display: inline-block;
        font-size:40px;
        width:35%;
        height:500px;
        margin:5%;
        padding: 2%;
        text-align:center;
    }
    .fondo{
        height:600px;
    }
    .fndA{
        height:800px;
    }
    .fot{
        height:400px;
    }
    .fot1{
        width:50%;
    }
    .bot-fot{
        width:25%;
        height:70px;
        margin-right:50%;
    }
    footer{
        font-size:30px;
    }
    .fott{
        height:70px;
        color: white;
    }
    .fott p{
        margin-top:-0px;
        text-align: center;
    }
}

@media screen and (min-width:1023px){
    
    .des{
        width:50%;
        height:800px;
        
        position:absolute;
        top: 6.5%;
        right: 0px;
    }
    .es{
        width:40%;
        height:830px;
        margin-top:25px;
    }
    
    .seg-article{
        height: 800px;
    }
    .prim-article div{
        width:60%;
        margin-top:5%;
    }

    .prim-article img{
        position: relative;
        bottom: 0px;
        margin:20px;
    }
    
    .seg-article section{
        display: inline-block;
        position: relative;
    }
    
    .seg-article div{
        display: inline-block;
        width:50%;
        height: 800px;
        
        position: absolute;
        top:0px;
    }
    
    .seg-article img{
        width:50%;
        height:1000px;
    }
    
    .seg-article p{
        margin:20% 10px;
    }
    
    .ter-article{
        height:700px;
    }
    .ter-article h2{
        margin-top: 40%;
    }
    
    .ter-article p{
        display: inline-block;
        height:250px;
        width:65%;
        margin-left:30%;
    }
    
    .fndA{
        position: relative;
        text-align: center;
    }
    
    .fndA .a1{
        width:40%;
        height:600px;
        display: inline-block;
        position:absolute;
        top: 0px;
        left:10%;
    }
    .fndA .a2{
        display: inline-block;
        width:40%;
        height: 600px;
        position: absolute;
        top: 0px;
        left:50%;
    }
    .fndA p{
        margin-top:30%;
    }
    .fndA h2{
        margin-top:45%;
    }
    footer{
        position:relative;
    }
    .ppdf{
        width:49%;
        height:600px;
        display: inline-block;
        
    }
    .fot{
        width:50%;
        height:600px;
        display: inline-block;
        position:absolute;
        top:0px;
        padding:20px 0px;
    }

}
